*{
    margin:0;
    padding: 0;
}
.offerrowholder{
    margin-top:20px;
}
.products-section .card{
    margin-top: 20px;
}
.nav-nav-items{
    margin-left:15px!important;
}
ul{
    background-color:white;

}
.cartholder{
    margin-left:10px;
}

.navigation-images img{
    width:50px;
    height:50px;
    border-radius: 50%;    
}

.navigation-images{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content:space-between;
    column-gap:5px;

}
.navigation-images li{
    display:grid;
    place-items:center;

}
.nav-item-details{
    display:grid;
    place-items: center;
    padding:0;
    margin:0;
}
.nav-item-details div{
    padding:0;
    margin:0;
}
.nav-link{
    padding:0;
    margin:0;
    color:black;
}
.about{
    display:grid;
}


.founder-content{
    display:grid;
    /* align-items: start; */
    font-size: 24px;
    
}

.founder-content span{
    display:grid;
    justify-items:center;
    margin:0;
    padding:0;
}
.log img{
    position:relative;
    z-index:1;
}
.logo-content{
    z-index:1;  
    /* position:absolute; */
    margin-top: -80px;    
    margin-left: 150px;
    font-weight: bold;
}
.about-text{
    margin-top:12px;
    font-size: 26px;
}
.first-column-about{
    display:grid;
    /* align-content:space-around; */
}
.about-coo p{
    margin-bottom: 0;

}
/* .offersection{
    background-color:white;
} */
.offersection a{
    color:black;
    text-decoration: none;
}
.products-section{
    background-color: rgb(207, 198, 198);
}
.products-section a{
    color:black;
    text-decoration: none;
}
.products-section .offer-prod-details{
    min-height: 175px;
}
.offertagholder{
    display:flex;
    width:100%;
    justify-content: center;
}

.offerimg{
    position: relative;
    
}
.offertag{
    display: inline-flex;
   
    position:absolute;
    background-color: red;
    color:white;
    padding:2px;
    border:none;
    z-index:1;
    margin-top:-300px;
    margin-left:270px;
}

.offerimgholder img:hover{
    transform: scale(1.1);
    transition-timing-function: ease-in-out;

}



.offersection .card{
    min-height:550px;

}
.products-section .card{
    min-height:550px;

}

.offer-prod-details{
   
    background-color: white;
    width:300px;
    min-height: 158px;
}
.offer-prod-details-holder{
    min-height:150px;
}
.map-section p .location{
    color:red;
}
.submit-button{
    border:none;
    padding: 4px;
    background-color: blue;
    color:white;
    border-radius:5px;
}
.offer-prod-details p{
    padding:2px !important;
}
.service-section .card img{
    border-radius: 50%;
    margin-top:25px;
}
.services-section .card{
    margin-top:20px;
    min-height: 250px;
}

.service{
    width: 100%;
    padding:50px 0;
    background-color:  var(--bg-color--);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-heading {
    font-size:30px;
  font-weight: bold;
  color: var(--primary-color--);
 text-transform:uppercase;
 margin-bottom: 5px;
 position: relative;
}
.border{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 4px;
    background-image:linear-gradient(25deg,#F4511E,#F57C00 50%);
}

.img-wrapper img{
    max-width: 100%;
    max-height: 100%;
    border-radius:20px;
}

#carouselExampleControls .cards-wrapper{
    display:flex;
}
#carouselExampleControls .card{
    margin:0.5em;
    width:calc(100%/3);
}
.img-wrapper{
    display:flex;
    justify-content: center;
    height:200px;
}  
.offersection .card img:hover{
    transform: scale(1.1) !important;
    transition-timing-function: ease-in-out !important;
}
.products-section .card img:hover{
    transform: scale(1.1) !important;
    transition-timing-function: ease-in-out !important;
}






@media screen and (max-width:576px){ 
    .nav-nav-items{
        margin-left:5px!important;
    }
    .search-bar{
        margin-left:18px !important;
    }
    .offer-price{
        margin:0 !important;
        display:block !important;
    }
    .offersection p span{
        width:100% !important;
    }
    .offersection .card{
        min-height:840px !important;
    
    }
    .offersection .card{
        width:130px !important;
    }
    .offersection .card-body{
        width:130px !important;
    }
    .products-section .card{
        min-height:900px !important;    
    }
    .products-section .card-body{
        width:130px !important;    
    }
    #carouselExampleControls .card:not(:first-child){
        display:none;
    }
    .img-wrapper{
        height:200px;
    }    
    .img-wrapper img{
        max-width: 100%;
        max-height: 100%;
    } 
    #carouselExampleControls .card{
        width:100%;
    }

    .footer h4{
        font-size: 10px !important;
        
    }
    .footer p{
        font-size: 8px !important;
    }

    .slidingimg img{
        height:100px !important;
    }
    .offersection{
        padding:0 !important;
    }
    .offersectionholder{
        margin-top:8px ;
        margin-bottom:8px;
        margin-left:0;
        margin-right: 0;
    }
    .first_bar{
        font-size: 10px;
    }
    .nav_bar{
        font-size: 10px;;
    }
    .cs img{
        height:200px;    
    }
    .about-img img{
        width:100px;
        height:100px;
        border-radius:50%;
    }
    .about-text{
        margin-top:8px;
        font-size: 12px;
    }
    .founder-content{
        display:grid;
        font-size: 12px;
        /* margin-top:-78px; */
    }
    .logo-content{
        z-index:1; 
        margin-top: -80px; 
        margin-left:30px;   
        font-weight: bold;
        font-size: 8px;
    }
    .founder-content span{
        margin: 0;
        font-size: 8px !important;
    }
    .cartdetails{
        margin-left: 5px;
    }

    .leaders img{
        width:150px;
        height:150px;
        
    }

    .offerimgholder img{
        width:160px !important;
        height:160px !important;
        
    }
    .offertagholder{
        display:flex;
        width:100%;
        justify-content:center;
    }
    
    .offerimg{
        position: relative;
        
    }
    .offertag{
        display: inline-flex !important;
       
        position:absolute !important;
        background-color: red !important;
        color:white !important;
        padding:2px !important;
        border:none !important;
        z-index:1 !important;
        margin-top:-160px !important;
        margin-left:135px !important;
    }

    .offer-prod-details{
       
        background-color: white;
        width:160px !important;
    }
    .offer-prod-details-holder{
        min-height:300px !important;
    }
    .offerrowholder{
        margin-top:20px;
        padding:0 !important;
    }
    .offerrow{
        margin:0;
        padding-top:8px !important;
        padding-bottom:8px !important;
    }
    .offersection{
        margin-left:0;
        margin-right:0;
        padding-left:0 !important;
        padding-right: 0 !important;
        padding:0;

    }
    .services-section .card img{
        border-radius: 50%;
        margin-top:25px;
        width:100px;
        height:100px;
    }
 
}


@media screen and (max-width:768px){

    


    .footer h4{
        font-size: 18px;
        color:grey;
    }
    .first_bar{
        font-size: 10px;
    }
    .nav_bar{
        font-size: 10px;;
    }
    .cs img{
        height:200px;    
    }
    .about-img img{
        width:100px;
        height:100px;
        border-radius:50%;
    }
    .about-text{
        margin-top:8px;
        font-size: 12px;
    }
    .founder-content{
        display:grid;
        font-size: 12px;
        /* margin-top:-78px; */
    }
    .logo-content{
        z-index:1; 
        margin-top: -80px; 
        margin-left:30px;   
        font-weight: bold;
        font-size: 8px;
    }
    .founder-content p{
        margin: 0;
    }
    .cartdetails{
        margin-left: 5px;
    }

    .leaders img{
        width:150px;
        height:150px;
        
    }

    .offerimgholder img{
        width:200px;
        height:200px;
    }
    .offertagholder{
        display:flex;
        width:100%;
        justify-content: center;
    }
    
    .offerimg{
        position: relative;
        
    }
    .offertag{
        display: inline-flex;
       
        position:absolute;
        background-color: red;
        color:white;
        padding:2px;
        border:none;
        z-index:1;
        margin-top:-200px;
        margin-left:170px;
    }
    .offer-prod-details{
       
        background-color: white;
        width:200px;
    }
    .offer-prod-details-holder{
        min-height:150px;
    }
    .offerrowholder{
        margin-top:20px;
    }
    .offerrowholder{
        margin-top:20px;
        
    }
    
 
}
@media screen and (max-width:1000px){
    .img-wrapper{
        height:300px;
    }    
    .img-wrapper img{
        max-width: 100%;
        max-height: 100%;
    }
    
    .offerimgholder img{
        width:200px;
        height:200px;
    }
    .offertagholder{
        display:flex;
        width:100%;
        justify-content: center;
    }
    
    .offerimg{
        position: relative;
        
    }
    .offertag{
        display: inline-flex;
       
        position:absolute;
        background-color: red;
        color:white;
        padding:2px;
        border:none;
        z-index:1;
        margin-top:-200px;
        margin-left:170px;
    }
    .offer-prod-details{
       
        background-color: white;
        width:200px;
    }
    .offer-prod-details-holder{
        min-height:200px;
    }
    .offerrowholder{
        margin-top:20px;
    }

}
@media screen and (min-width:1200px)
{
.img-wrapper{
    height:300px;
}    
.img-wrapper img{
    max-width: 100%;
    max-height: 100%;
}
}


