*{
    margin:0;
    padding: 0;
}


.offerrowholder{
    margin-top:20px;
}

.user{
    padding:8px;
    padding-left:13px;
    height:40px;
    width:40px;
    border-radius:50%;
    margin:0;
}
.cart{
    padding:8px;
    padding-left:11px;
    height:40px;
    width:40px;
    border-radius:50%;
    margin:0;
}

ul{
    background-color:white;

}
.cartholder{
    margin-left:10px;
}

.navigation-images img{
    width:50px;
    height:50px;
    border-radius: 50%;    
}

.navigation-images{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content:space-between;
    column-gap:5px;

}
.navigation-images li{
    display:grid;
    place-items:center;

}
.nav-item-details{
    display:grid;
    place-items: center;
    padding:0;
    margin:0;
}
.nav-item-details div{
    padding:0;
    margin:0;
}
.nav-link{
    padding:0;
    margin:0;
    color:black;
}
.about{
    display:grid;
}


.founder-content{
    display:grid;
    /* align-items: start; */
    font-size: 24px;
    
}

.founder-content span{
    display:grid;
    justify-items:center;
    margin:0;
    padding:0;
}
.log img{
    position:relative;
    z-index:-1;
}
.logo-content{
    z-index:1;  
    /* position:absolute; */
    margin-top: -80px;    
    margin-left: 150px;
    font-weight: bold;
}
.about-text{
    margin-top:12px;
    font-size: 26px;
}
.first-column-about{
    display:grid;
    /* align-content:space-around; */
}
.about-coo p{
    margin-bottom: 0;

}
.offersection{
    background-color: rgb(207, 198, 198);
}
.products-section{
    background-color: rgb(207, 198, 198);
}
.products-section .offer-prod-details{
    min-height: 175px;
}
.offertagholder{
    display:flex;
    width:100%;
    justify-content: center;
}

.offerimg{
    position: relative;
    
}
.offertag{
    display: inline-flex;
   
    position:absolute;
    background-color: red;
    color:white;
    padding:2px;
    border:none;
    z-index:1;
    margin-top:-300px;
    margin-left:270px;
}
.offer-prod-details{
   
    background-color: white;
    width:300px;
}
.offer-prod-details-holder{
    min-height:150px;
}
.map-section p .location{
    color:red;
}
.submit-button{
    border:none;
    padding: 4px;
    background-color: blue;
    color:white;
    border-radius:5px;
}
@media screen and (max-width:576px){ 
    .footer h4{
        font-size: 12px !important;
        
    }
    .footer p{
        font-size: 10px;
    }

    .slidingimg img{
        height:300px !important;
    }
    .offersection{
        padding:0 !important;
    }
    .offersectionholder{
        margin-top:8px ;
        margin-bottom:8px;
        margin-left:0;
        margin-right: 0;
    }
    .first_bar{
        font-size: 10px;
    }
    .nav_bar{
        font-size: 10px;;
    }
    .cs img{
        height:200px;    
    }
    .about-img img{
        width:100px;
        height:100px;
        border-radius:50%;
    }
    .about-text{
        margin-top:8px;
        font-size: 12px;
    }
    .founder-content{
        display:grid;
        font-size: 12px;
        /* margin-top:-78px; */
    }
    .logo-content{
        z-index:1; 
        margin-top: -80px; 
        margin-left:30px;   
        font-weight: bold;
        font-size: 8px;
}
    .founder-content span{
        margin: 0;
    }
    .cartdetails{
        margin-left: 5px;
    }
    .user{
        padding-right:13px;
        padding-left:10px;
        height:30px;
        width:30px;
        
    }
    .cart{
        padding-right:13px;
        padding-left:10px;
        
        height:30px;
        width:30px;
        border-radius:50%;
        
    }
    .leaders img{
        width:150px;
        height:150px;
        
    }

    .offerimgholder img{
        width:160px !important;
        height:160px !important;
        
    }
    .offertagholder{
        display:flex;
        width:100%;
        justify-content:center;
    }
    
    .offerimg{
        position: relative;
        
    }
    .offertag{
        display: inline-flex !important;
       
        position:absolute !important;
        background-color: red !important;
        color:white !important;
        padding:2px !important;
        border:none !important;
        z-index:1 !important;
        margin-top:-160px !important;
        margin-left:135px !important;
    }

    .offer-prod-details{
       
        background-color: white;
        width:160px !important;
    }
    .offer-prod-details-holder{
        min-height:300px !important;
    }
    .offerrowholder{
        margin-top:20px;
        padding:0 !important;
    }
    /* .offerimgodd{
        display:flex;
        justify-content: start;
    }
    .offerimgodd{
        display:flex;
        justify-content: end;
    } */
    .offerrow{
        margin:0;
        padding-top:8px !important;
        padding-bottom:8px !important;
    }
    .offersection{
        margin-left:0;
        margin-right:0;
        padding-left:0 !important;
        padding-right: 0 !important;
        padding:0;

    }
    .card img{
        border-radius: 50%;
        margin-top:25px;
        width:100px;
        height:100px;
    }
 
}
.service-section .card img{
    border-radius: 50%;
    margin-top:25px;
}
.card{
    margin-top:20px;
    min-height: 250px;
}

@media screen and (max-width:768px){
    .footer h4{
        font-size: 18px;
        color:grey;
    }
    .first_bar{
        font-size: 10px;
    }
    .nav_bar{
        font-size: 10px;;
    }
    .cs img{
        height:200px;    
    }
    .about-img img{
        width:100px;
        height:100px;
        border-radius:50%;
    }
    .about-text{
        margin-top:8px;
        font-size: 12px;
    }
    .founder-content{
        display:grid;
        font-size: 12px;
        /* margin-top:-78px; */
    }
    .logo-content{
        z-index:1; 
        margin-top: -80px; 
        margin-left:30px;   
        font-weight: bold;
        font-size: 8px;
}
    .founder-content p{
        margin: 0;
    }
    .cartdetails{
        margin-left: 5px;
    }
    .user{
        padding-right:13px;
        padding-left:10px;
        height:30px;
        width:30px;
        
    }
    .cart{
        padding-right:13px;
        padding-left:10px;
        
        height:30px;
        width:30px;
        border-radius:50%;
        
    }
    .leaders img{
        width:150px;
        height:150px;
        
    }

    .offerimgholder img{
        width:200px;
        height:200px;
    }
    .offertagholder{
        display:flex;
        width:100%;
        justify-content: center;
    }
    
    .offerimg{
        position: relative;
        
    }
    .offertag{
        display: inline-flex;
       
        position:absolute;
        background-color: red;
        color:white;
        padding:2px;
        border:none;
        z-index:1;
        margin-top:-200px;
        margin-left:170px;
    }
    .offer-prod-details{
       
        background-color: white;
        width:200px;
    }
    .offer-prod-details-holder{
        min-height:150px;
    }
    .offerrowholder{
        margin-top:20px;
    }
    .offerrowholder{
        margin-top:20px;
        
    }
    
 
}
@media screen and (max-width:1000px){
    .offerimgholder img{
        width:200px;
        height:200px;
    }
    .offertagholder{
        display:flex;
        width:100%;
        justify-content: center;
    }
    
    .offerimg{
        position: relative;
        
    }
    .offertag{
        display: inline-flex;
       
        position:absolute;
        background-color: red;
        color:white;
        padding:2px;
        border:none;
        z-index:1;
        margin-top:-200px;
        margin-left:170px;
    }
    .offer-prod-details{
       
        background-color: white;
        width:200px;
    }
    .offer-prod-details-holder{
        min-height:200px;
    }
    .offerrowholder{
        margin-top:20px;
    }

}



